*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#081224,#123A8F,#2563EB);

overflow:hidden;
position:relative;

}

.bg-circle{

position:absolute;
border-radius:50%;
filter:blur(90px);
opacity:.35;

}

.circle1{

width:260px;
height:260px;

background:#3B82F6;

top:-80px;
left:-80px;

}

.circle2{

width:240px;
height:240px;

background:#8B5CF6;

bottom:-60px;
right:-60px;

}

.circle3{

width:140px;
height:140px;

background:#22D3EE;

top:30%;
right:15%;

}

.login-card{

width:430px;

padding:35px;

border-radius:28px;

background:rgba(255,255,255,.12);

backdrop-filter:blur(22px);

border:1px solid rgba(255,255,255,.2);

box-shadow:
0 25px 60px rgba(0,0,0,.35);

text-align:center;

}

.logo{

width:120px;
height:120px;

object-fit:contain;

margin-bottom:15px;

}

h1{

color:white;
font-size:2.3rem;

}

.subtitle{

color:#dbeafe;

margin:8px 0 25px;

}

.input-box{

display:flex;
align-items:center;

background:white;

border-radius:15px;

padding:14px;

margin-bottom:18px;

}

.input-box i{

color:#2563EB;
margin-right:10px;

}

.input-box input{

width:100%;

border:none;
outline:none;

font-size:15px;

}

#togglePassword{

cursor:pointer;

}

.login-btn{

width:100%;

padding:14px;

border:none;
border-radius:15px;

background:linear-gradient(135deg,#2563EB,#4F8CFF);

color:white;

font-size:16px;
font-weight:600;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

transform:translateY(-3px);

}

.options{

display:flex;
justify-content:space-between;

font-size:13px;

color:white;

margin-bottom:20px;

}

.options a{

color:#FFD54F;

text-decoration:none;

}

.divider{

display:flex;
align-items:center;

margin:22px 0;

color:white;

}

.divider::before,
.divider::after{

content:"";

flex:1;

height:1px;

background:rgba(255,255,255,.25);

}

.divider span{

padding:0 12px;

}

.google-btn{

width:100%;

padding:13px;

border:none;
border-radius:15px;

background:white;

font-weight:600;

cursor:pointer;

}

.register{

margin-top:20px;

color:white;

}

.register a{

color:#FFD54F;

text-decoration:none;

}

@media(max-width:480px){

.login-card{

width:92%;

padding:25px;

}

.logo{

width:95px;
height:95px;

}

}